<h1><%= t("request_methods") %></h1>

<h2>Get</h2>
<%= link_to "get", get_request_methods_path %>

<h2>Post</h2>
<%= form_tag post_request_methods_path do %>
  <table>
    <tr><td>
        <%= label_tag "name", "Name" %>
        <%= text_field_tag "name", "Taro Yamada" %>
    </td></tr>
    <tr><td>
        <%= submit_tag "post" %>
    </td></tr>
  </table>
<% end #form_tag %>

